@import "vars";
@import "vendor/reset.scss";

html{
    font-size: 62.5%;
}
body {
    background-color: #181818;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.4rem;
    color: $white;
    line-height: 1.5;
}

*,
*:before,
*:after{
    box-sizing:border-box;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline
    }
}

// Blocks
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/subna.scss";
@import "blocks/Sidebar.scss";
@import "blocks/main.scss";
@import "blocks/container.scss";
@import "blocks/profile.scss";
@import "blocks/social.scss";
@import "blocks/btn.scss";
@import "blocks/search.scss";
@import "blocks/stories.scss";
@import "blocks/add-post.scss";
@import "blocks/post.scss";
@import "blocks/embed.scss";
@import "blocks/pagination.scss";
@import "blocks/related.scss";
@import "blocks/comments.scss";
@import "blocks/forms.scss";