.btn{
    display: inline-block;
    vertical-align: top;
    padding: 1.12em 2.1em;

    background: $secondary;
    border: none;
    cursor: pointer;
    border-radius: 3em;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: $white;
    text-decoration: none;
    transition: background-color .2s linear;



    &--red{
        background-color: $red;
        box-shadow: 0 7px 17px -10px rgba($color: $red, $alpha: .2);
        &:hover{
            background-color: darken($color: $red, $amount: 5);
        }
    }
    &--blue{
        background-color: $blue;
        box-shadow: 0 7px 17px -10px rgba($color: $blue, $alpha: .2);
        &:hover{
            background-color: darken($color: $blue, $amount: 5);
        }
    }

        &--rounded {
            border-radius: 0.41em;
        }
        &--sm {
            padding: 0.7em 1.25em ;
        }
}