.related {
    border-bottom: 1px solid #1c1c1c;
    padding: 3rem 0 .5rem;
}
.related__title {
    font-size: 1.6rem;
    color: $white;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 2rem;
}
.related__list {
display: flex;
flex-wrap: wrap;
}

.related__list-item {
    width: 50%;
    margin-bottom: 2.5rem;
}
.related__list-title {
    font-size: 1.4rem;
    color: #F3EBA2;
    font-weight: 500;
    
    a {
        color: inherit;
    }
}