<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="http://img2.joyreactor.cc/pics/post/full/GENTLECAT-%D1%80%D1%8B%D0%B6%D0%B8%D0%B9-%D0%BA%D0%BE%D1%82-%D0%BA%D0%BE%D1%82%D1%8D-%D0%B0%D1%80%D1%82-7449980.jpeg" alt="">
            <div class="profile__name">Никита Тарнавський</div>
            <div class="profile__prof">блог front-end разработчика</div>
        
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/instagram.svg" alt=" Никита Тарнавський instagram ">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/vk.svg" alt=" Никита Тарнавський instagram ">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/pinterest.svg" alt=" Никита Тарнавський instagram ">
                    </a>
                </li>
            </ul>
            
            <div class="profile__text">
                
                Front-end разработчик. Практик верстки сайтов.
                Созданием сайтов занимаюсь с 1995 года. Работал в нескольких ИТ компаниях и наработал более 100 000 часов в создании сайтов различной сложности.
            </div>
        </div><!--Profile =========== end-->
    </div>    <!--sidebar content =========== end-->
    <div class="sidebar__footer">
        <a class="btn btn--red" href="">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>